# SPDX-License-Identifier: GPL-2.0-only
# Copyright (c) 2022-2023 Qualcomm Innovation Center, Inc. All rights reserved.

[Unit]
Description= Load mvm dlkm service
AssertPathExists=/lib/modules/
After=systemd-tmpfiles-setup.service
DefaultDependencies=no
Conflicts=shutdown.target

[Service]
Restart=on-failure
RemainAfterExit=yes
ExecStart=/bin/sh -c '/sbin/insmod /lib/modules/$(uname -r)/extra/mvm.ko mvm_stats_timer_interval_ms=300'
ExecStop=/bin/sh -c '/sbin/rmmod mvm'

[Install]
WantedBy=sysinit.target
