# SPDX-License-Identifier: GPL-2.0-only
# Copyright (c) 2022 Qualcomm Innovation Center, Inc. All rights reserved.

[Unit]
Description= Load mvm dlkm service
AssertPathExists=/lib/modules/

[Service]
Restart=on-failure
RemainAfterExit=yes
ExecStart=/bin/sh -c '/sbin/insmod /lib/modules/$(uname -r)/extra/mvm.ko'
ExecStop=/bin/sh -c '/sbin/rmmod mvm'

[Install]
WantedBy=multi-user.target
